.home-page {
  position: relative;
  width: 100vw;
  height: 100svh;
  background-color: #fff;
  overflow: hidden;
}

.home-page-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 25vh;
  padding: 1em;
  background-color: #fff;
}

.header {
  position: absolute;
  left: 1em;
  bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 9rem;
  letter-spacing: -0.5rem;
  line-height: 0.75;
}

.header-line-1 {
  margin-left: 9rem;
}

.home-page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  gap: 1em;
}

.hp-footer-col:nth-child(1) {
  flex: 2;
}

.hp-footer-col:nth-child(2) {
  flex: 1;
  display: flex;
  gap: 1em;
  height: 110px;
}

.product-preview-hero {
  flex: 1;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  cursor: pointer;
}

.product-preview-hero:nth-child(3) {
  display: none;
}

h1 {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

h1 span {
  position: relative;
  display: block;
  transform: translateY(110%);
  will-change: transform;
}

.preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

.pre-loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.count p {
  font-size: 0.9rem;
}

.loader-bg {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  background: #3a3a3a;
  z-index: -1;
}

.loader-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/public/product_images/product_001.jpeg") no-repeat 50% 50%;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: -1;
}

.preloader-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.preloader-overlay p {
  color: #fff;
}

@media (max-width: 900px) {
  .header {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    bottom: unset;
    left: 0;
    align-items: center;
    justify-content: center;
  }

  .header h1 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: -0.1rem;
  }

  .header-line-1 {
    margin-left: -2rem;
  }

  .header-line-2 {
    margin-left: 2rem;
  }

  .hp-footer-col:nth-child(1) {
    display: none;
  }

  .hp-footer-col:nth-child(2) {
    height: 80px;
  }

  .product-preview-hero:nth-child(3) {
    display: flex;
  }
}
